<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="margin-left: auto;">
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/courses/create">Dang khoa doc</a>
          </li> --}}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img
                src="https://www.npmjs.com/npm-avatar/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdmF0YXJVUkwiOiJodHRwczovL3MuZ3JhdmF0YXIuY29tL2F2YXRhci9jMWU3OTZiMDUzZjdhZWMzNGEyYTZlMmQxM2Q3OThkYT9zaXplPTEwMCZkZWZhdWx0PXJldHJvIn0.fF3dMG9FCJYmFn0Ez25D3CWyHM44FaAvRwD3GyFO8-w"
                alt="" class="user-avatar">
              Duc Chinh
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/courses/create">Dang khoa doc</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="/me/stored/courses">Khoa hoc cua toi</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="/me/stored/news">Tin tuc cua toi</a>
              <hr class="dropdown-divider">
              <a class="dropdown-item" href="#">Dang xuat</a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>